<!DOCTYPE html>
<html>
    <head>
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
        <title></title>
    </head>
    <body>
      <div class="container">
        <h1>Welcome to Blake's Hair Salon app!</h1>
        <br>
        <h3>Add a new stylist to the database:</h3>
        <br>
        <form action="/stylists" method="post">
            <label for="name">Stylist name:</label>
            <input id="name" name="name" type="text">

            <button type="submit">Add Stylist</button>
        </form>
        <br><br>
        {% if stylists is not empty %}
            <h3>Here are the stylists of Blake's Salon:</h3>
            <ul>
                {% for stylist in stylists %}
                    <li><a href="/stylists/{{ stylist.getId }}">{{ stylist.getName }}</a></li>
                {% endfor %}
            </ul>
        {% else %}
          <h2>There are no stylist at this time!</h2>
        {% endif %}
        <br><br><br><br><br>
        <form action="/delete_stylists" method="post">
            <button type="submit" class="btn btn-danger" name="button">CAUTION: THIS BUTTON WILL DELETE ALL STYLISTS!!!!!</button>
        </form>
      </div>
    </body>
</html>
