<!DOCTYPE html>
<html>
    <head>
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
        <title></title>
    </head>
    <body>
        <h1>Blake's hair salon app:</h1>

        <p>Add a new stylist to the database:</p>

        <form action="/stylists" method="post">
            <label for="name">Stylist name:</label>
            <input id="name" name="name" type="text">

            <button type="submit">Add Stylist</button>
        </form>

        {% if stylists is not empty %}
            <p>Here are the stylists of Blake's Salon:</p>
            <ul>
                {% for stylist in stylists %}
                    <li><a href="/stylists/{{ stylist.getId }}">{{ stylist.getName }}</a></li>
                {% endfor %}
            </ul>
            <form action="/delete_stylists" method="post">
                <button type="submit" class="btn btn-danger" name="button">CAUTION: THIS BUTTON WILL DELETE ALL STYLISTS!!!!!</button>
            </form>
        {% else %}
          <p>There are no stylist at this time!</p>
        {% endif %}
    </body>
</html>
